@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-100px);

  }
  80%{
    transform: translateX(10px);

  }
  100%{
    opacity: 1;
    transform: translate(0);

  }
}

@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(100px);

  }
  80%{
    transform: translateX(-10px);

  }
  100%{
    opacity: 1;
    transform: translate(0);

  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;

}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 255, 0.781),
      rgba(100, 149, 238, 0.445)),
      url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0 , 100% 100%, 0 75vh);
}

.logo-box {
  position: absolute;
  top : 40px;
  left : 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.heading-primary {
  color: rgb(245, 241, 241);

}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 5px;
  animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  animation: moveInRight 1s ease-out;

}
