@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-100px);

  }
  80%{
    transform: translateX(10px);

  }
  100%{
    opacity: 1;
    transform: translate(0);

  }
}

@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(100px);

  }
  80%{
    transform: translateX(-10px);

  }
  100%{
    opacity: 1;
    transform: translate(0);

  }
}

@keyframes moveInBottom {
  0%{
    opacity: 0;
    transform: translateY(30px);

  }


  }
  100%{
    opacity: 1;
    transform: translate(0);

  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;

}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 255, 0.781),
      rgba(100, 149, 238, 0.445)),
      url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0 , 100% 100%, 0 75vh);
}

.logo-box {
  position: absolute;
  top : 40px;
  left : 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: rgb(245, 241, 241);
  backface-visibility: hidden;
  margin-bottom: 60px;

}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 5px;
  animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  animation: moveInRight 1s ease-out;

}


/* --------------------------Button ------------------------------*/

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  color: #050f0c;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  color: rgba(0, 0, 255);
}

.btn-white {
  background-color: #fff;
  color: rgb(17, 78, 107);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}
