.description {
  position: relative;

  &__photo {
    display: block;
    width: 80%;
    // box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    // border-radius: 2px;
    // transition: all 0.2s;
    margin-left: 5rem;

    @include respond(tab-port) {
      position: relative;
      width: 80%;
      margin: 0 auto;
      // box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }

    // &:hover {
    //   transform: scale(1.05) translateY(-0.5rem);
    //   box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
    // }
  }
}

#leftRight {
  animation: scaleDown 5s ease-in infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#lock {
  animation: hideshow 5s ease-in infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#messageBig {
  animation: hideshow 10s ease-in infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#messageSmall {
  animation: hideshow 3s ease-in infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#glasses {
  animation: kaboom 5s ease-in infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#phone {
  animation: kaboomSmall 5s ease-in infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#leftCircle {
  animation: rotate 10s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#bottomCircle {
  animation: rotate 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#upperCircle {
  animation: rotate 20s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#left {
  animation: left 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#right {
  animation: right 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
