/* =Preloader */
#preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: $color-black;
  color: $color-white;
  .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .txt-perc {
    font-size: 35px;
    font-family: "Roboto Condensed", Helvetica, Helvetica Neue, Arial,
      sans-serif;
    opacity: 1;
    margin: 0 0 6px 0;
    max-width: 400px;
    text-align: center;
  }
  .progress {
    width: 100px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto 15px auto;
    span {
      display: block;
      width: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }
}
.is-loading {
  overflow: hidden;
}
