body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        text-align: left;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: .5rem;
        animation: moveInLeft 1s ease-out;

      @include respond(phone) {
              letter-spacing: 1rem;
              font-family: 5rem;
          }
          /*
          animation-delay: 3s;
          animation-iteration-count: 3;
          */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .3rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
        letter-spacing: .5rem;
    }
  }
}

.heading-secondary{
  font-size: 3.5rem;

  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;

  @include respond(tab-port) {
      font-size: 3rem;
  }

  @include respond(phone) {
      font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  // text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #777;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
      margin-bottom: 3rem;
  }
}
