.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
    text-align: center;
  }
}
.section-services {
  padding: 20rem 0;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-primary, 0.781),
      rgba($color-primary-light, 0.2)
    ),
    url(../img/contract-small.jpg);
  background-size: cover;
  background-position: bottom;
  transform: skewY(7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(-7deg);
    //.section-services > *
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to left bottom,
        rgba($color-primary, 0.781),
        rgba($color-primary-light, 0.2)
      ),
      url(../img/contract.jpg);
  }
  @include respond(tab-port) {
    padding: 10rem 0;
    background-position: left;
  }
}

.section-portfolio {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right,
    rgba($color-white, 0.781),
    rgba($color-primary-light, 0.2)
  );

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.contact {
  background-image: linear-gradient(
      285deg,
      rgba($color-white, 0.9),
      0%,
      rgba($color-grey-light-2, 0.9),
      40%,
      transparent 50%
    ),
    url(../img/phone.jpg);
  background-size: 100%;
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  height: 65rem;
  background-position: right;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        285deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-grey-light-2, 0.9) 40%,
        transparent 65%
      ),
      url(../img/phone.jpg);
  }

  @include respond(tab-land) {
    background-size: cover;
  }

  &__form {
    width: 50%;
    padding: 6rem;
    float: right;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}

#leftRight {
  animation: scaleDown 5s ease-in infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#lock {
  animation: hideshow 5s ease-in infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#messageBig {
  animation: hideshow 10s ease-in infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#messageSmall {
  animation: hideshow 3s ease-in infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#glasses {
  animation: kaboom 5s ease-in infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#phone {
  animation: kaboomSmall 5s ease-in infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#leftCircle {
  animation: rotate 10s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#bottomCircle {
  animation: rotate 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#upperCircle {
  animation: rotate 20s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#left {
  animation: left 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#right {
  animation: right 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes hideshow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes kaboom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes kaboomSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes popup {
  0% {
    transform: translateY(0px);
  }
  // 25% {
  //   transform: translateY(-50px);
  // }
  50% {
    transform: translateY(-170px);
  }
  // 75% {
  //   transform: translateY(-130px);
  // }
  100% {
    transform: translateY(0px);
  }
}
@keyframes left {
  0% {
    transform: translateX(0px);
  }
  // 25% {
  //   transform: translateY(-50px);
  // }
  50% {
    transform: translateX(-20px);
  }
  // 75% {
  //   transform: translateY(-130px);
  // }
  100% {
    transform: translateX(0px);
  }
}
@keyframes right {
  0% {
    transform: translateX(0px);
  }
  // 25% {
  //   transform: translateY(-50px);
  // }
  50% {
    transform: translateX(20px);
  }
  // 75% {
  //   transform: translateY(-130px);
  // }
  100% {
    transform: translateX(0px);
  }
}
